<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.BrandDetailMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.domain.entity.BrandDetail">
    <id column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="old_price" jdbcType="DECIMAL" property="oldPrice" />
    <result column="new_price" jdbcType="DECIMAL" property="newPrice" />
    <result column="release_time" jdbcType="DATE" property="releaseTime" />
    <result column="examine" jdbcType="INTEGER" property="examine" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
  </resultMap>
  <select id="selectByAttr" resultMap="BaseResultMap">
    select pro_id, pro_name, old_price, new_price, release_time, examine, status, brand_id, attribute
    from brand_detail
    where attribute = #{attr}
  </select>



</mapper>