<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.qfedu.domain.entity.OrderItem">
        <!--@mbg.generated-->
        <!--@Table order_item-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_no" jdbcType="BIGINT" property="orderNo"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_pic" jdbcType="VARCHAR" property="productPic"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="product_quantity" jdbcType="INTEGER" property="productQuantity"/>
        <result column="product_des" jdbcType="VARCHAR" property="productDes"/>
        <result column="member_id" jdbcType="INTEGER" property="memberId"/>
    </resultMap>

    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into order_item (order_no, product_name, product_pic,
        product_price, product_quantity, product_des,
        member_id)
        values (#{orderItem.orderNo}, #{orderItem.productName}, #{orderItem.productPic},
        #{orderItem.productPrice}, #{orderItem.productQuantity}, #{orderItem.productDes},
        #{orderItem.memberId})
    </insert>
    <select id="selectOrderItem" resultMap="BaseResultMap">
        select ORDER_NO, PRODUCT_NAME, PRODUCT_PIC, PRODUCT_PRICE, PRODUCT_QUANTITY, PRODUCT_DES, MEMBER_ID
        from order_item
        where member_id = #{memberId}
    </select>

</mapper>